<br>
<br>
<br>
<br><br>
<br><br>
<br>
<% @companies.each do |company| %>
      <p>
     Name: <%= company.universal_name %><br><br>
     Description: <%= company.description %><br><br>
    Address: <%= company.location %>
     </p>

<% end %>